* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: Poppins-Regular, sans-serif;
}
:root{      
  --color1: #DCD8CF;
  --color2: #E25D33;
  --color3: #282827 ;
}            
/*--------------INPUT-------------------------------*/

input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}
/*-------------------TEXT--------------------------*/

.txt1 {
  font-family: Poppins-Regular;
  font-size: 20px;
  line-height: 1.3;
  color: rgb(223, 211, 211);
}

/*---------------- Contact---------------------------*/


.container-contact {
  position: relative;
  top: 0;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: white;
}

.wrap-contact {
  width: 1120px;
  background: #fff;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row-reverse;
}

/*--------------------------- Form --------------------------*/


.contact-form {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding: 56px 55px 63px 55px;
}

.contact-form-title {
  width: 100%;
  display: block;
  font-family: Poppins-Regular;
  font-size: 30px;
  color: var(--color2);
  line-height: 1.2;
  text-align: center;
  padding-bottom: 33px;
}

/*------------------------ Input ------------------------*/


.wrap-input {
  width: 100%;
  position: relative;
  border: 1px solid #e6e6e6;
}

.rs1-wrap-input,
.rs2-wrap-input {
  width: 50%;
}

.label-input {
  font-family: Poppins-Regular;
  font-size: 12px;
  color: var(--color3);
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 55px;
  border: 1px solid #e6e6e6;
  padding: 10px 25px;
  margin-top: 15px;
}

.input {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Poppins-Regular;
  font-size: 18px;
  color: #666666;
  line-height: 1.2;
  padding: 0 25px;
  height: 55px;
}

textarea.input {
  min-height: 139px;
  padding-top: 19px;
  padding-bottom: 15px;
}

/*--------------------------FOCUS BORDER ------------------------------*/

.focus-input {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid var(--color2);
  visibility: hidden;
  opacity: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  -webkit-transform: scaleX(1.1) scaleY(1.3);
  -moz-transform: scaleX(1.1) scaleY(1.3);
  -ms-transform: scaleX(1.1) scaleY(1.3);
  -o-transform: scaleX(1.1) scaleY(1.3);
  transform: scaleX(1.1) scaleY(1.3);
}

.input:focus+.focus-input {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/*--------------------------- Button--------------------*/


button {
  outline: none;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

.container-contact-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 23px;
}

.contact-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 200px;
  height: 50px;
  border-radius: 2px;
  background: var(--color2);
  font-family: Montserrat-Bold;
  font-size: 12px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact-form-btn:hover {
  background: var(--color3);
}

/*--------------------- Contact more ------------------------*/

.contact-more {
  background: url('../img/1.jpg');
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  padding: 30px 15px 0px 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1px;
}

.contact-more::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}

/*---------------Responsive----------------------*/

@media (max-width: 992px) {
  .contact-form {
    width: 60%;
    padding: 56px 30px 63px 30px;
  }

  .contact-more {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .contact-form {
    width: 100%;
  }

  .contact-more {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .contact-form {
    padding: 56px 15px 63px 15px;
  }

  .rs1-wrap-input,
  .rs2-wrap-input {
    width: 100%;
  }

  .rs2-wrap-input {
    border-left: 1px solid #e6e6e6;
    border-top: none;
  }
}