
*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	box-sizing: border-box;
	/* font: inherit;
	vertical-align: baseline; */
}
html{
	scroll-behavior: smooth;      /* importantt for smooth scroll */
}

ul{
	list-style: none;
	display: block;
}


table{
	border-collapse: collapse;
	border-spacing: 0;
}





.clearfix {
	clear: both;
}


nav {
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(204, 204, 204, 0.8)));
	background-image: linear-gradientrgba( rgba(255, 255, 255, 0.8), (rgba(204, 204, 204, 0.8)));
	/* border-radius: 6px; */
	box-shadow: 0px 0px 6px 6px rgba(0,0,0,0.4);
    padding: 0 10px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
   /*  left: 20px; */
	z-index: 100;
	margin-left: 100px;
	margin-right: 100px;
	border-radius: 0px 0px 25px 25px;
}

.menu>li {
	float: left;
	position: relative;
}
.menu li{
	border-radius: 0px 0px 25px 25px;
}
.menu>li::after{
	content: "";
	background-color: rgba(0, 0, 0, 0.1);
	height: 40px;
	border-radius: 35%;
	width: 4px;
	z-index: 101;
	display: block;
	top: 6px;
	right: 0;
	position: absolute;
}
.menu>li:nth-child(5)::after{
	content: "";
	background-color: rgba(0, 0, 0, 0.1);
	height: 40px;
	border-radius: 35%;
	width: 4px;
	z-index: 101;
	display: block;
	top: 6px;
	left: 0;
	position: absolute;
}
.menu>li>ul{
	border-radius: 0px 0px 25px 25px;
	box-shadow: 0px 6px 4px 2px rgba(0,0,0,0.4);
}
.menu>li:nth-child(5){
	float: right;
}
.menu>li:nth-child(5)>a>span{
	position: absolute;
	margin-left: 40px;
	top: 36px;	
	font-size: 32px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-image:  radial-gradient(circle,rgba(255, 255, 255, 0.8), rgba(204, 204, 204, 0.8));;
	transition: transform 0.25s;
	z-index: 102;
	box-shadow: 0px 6px 4px 2px rgba(0,0,0,0.4);
}
.menu>li:nth-child(3)>a>span{
	position: absolute;
	margin-left: 12px;
	top: 36px;	
	font-size: 32px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-image:  radial-gradient(circle,rgba(255, 255, 255, 0.8), rgba(204, 204, 204, 0.8));;
	transition: transform 0.25s;
	z-index: 102;
	box-shadow: 0px 6px 4px 2px rgba(0,0,0,0.4);
}
.menu>li>a{

	color: #444;
	display: block;
	width: auto;
	font-size: 20px;
	line-height: 20px;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 2.3vw;
	padding-right: 2.3vw;
	/* vertical-align: middle; */
    text-decoration: none;
	/* position: relative; */
	text-transform: uppercase;
	text-align: center;	
}
.menu>li>ul>li>a{
	color: #444;
	display: block;
	width: auto;
	font-size: 20px;
	line-height: 20px;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 3vw;
	padding-right: 3vw;
	/* vertical-align: middle; */
    text-decoration: none;
	/* position: relative; */
	text-transform: uppercase;
	text-align: center;	
}


.menu li a:active{
	background-color: rgba(255, 255, 255, 0.5);
}

.menu li a:hover {
	
	text-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);

}

/* Dropdown styles */

.menu ul {
	position: absolute;
	/* left: -9999px; */
	list-style: none;
	opacity: 0;
	height: 0;
	overflow: hidden;
	display: block;
	
}

/* .menu ul li {
	float: none;
	
} */

.menu ul a {
	white-space: nowrap;
	
}

/*//////////////////////////// Displays the dropdown on hover and moves back into position////////////////////////// */
.menu li:hover ul {
	
	border-radius: 0 0 6px 6px;
	left: 5px;
	opacity: 1;
	height: auto;
	transition: height 0.5s, opacity 0.5s ease;
}
.menu>li:nth-child(5):hover>a>span{
		transform: translateY(104px)
}
.menu>li:nth-child(3):hover>a>span{
	transform: translateY(104px)
}
/*////////////////////////////////////////// Persistant Hover State //////////////////////////////////////////*/
.menu li:hover >a {
	
	
	box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);
	/* color: #222; */
	color: white;
	
}
.menu li:hover{
	background-color:rgba(128, 128, 128, 0.7);
	box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.178);
}
.menu li:hover ul a {
	background: none;
	border-radius: 0;
	box-shadow: none;
}

.menu li:hover ul li a:hover {
	
	text-shadow:  0px 0px 4px 2px rgba(0,0,0,0.3);
	
}
/*/////////////// togglebox ///////////////*/
#togglecheckbox{
	display: none;
	}
	
.togglelabel{
	top: 20px;
	width:50px;
	height:50px;
	position: relative;
	display: none;
	margin: 10px;	
}
.togglelabel>label{
	transition: transform 0.25s;
	color: rgba(0, 0, 0, 0.8);
}
#togglecheckbox:checked ~ .menu{
	height: auto;
}
/*//////////////////////////// media querry///////////////////////////////// */
@media (max-width: 821px){
	.togglelabel{
		display: block; 
	}
	#togglecheckbox:checked ~ .menu{
		height: auto;
	}
	#togglecheckbox:checked ~ .menu li::before{
		content: "";
		width: 1200px;
		height: 1px;
		display: block;
		position: relative;
		background-color: black;
		z-index: 101;
	}
	#togglecheckbox:checked + div>label{
		color: rgba(255, 255, 255, 0.9);
		transform: rotateZ(90deg);
		background-color: rgba(0, 0, 0, 0.3);
	}
	nav{
		background-color: rgb(220, 220, 220);
		margin: 0;
	}
	.menu>li:nth-child(5):hover>a>span{
		transform: translateY(124px)
	}
	.menu>li:nth-child(3):hover>a>span{
	transform: translateY(114px)
	}
	
	.menu>li::after{
		content: "";
		display: none;
	}
	/* .menu>li>ul>li{
		display: list-item;
		float: left;
	} */
	.menu li{
		width: 100%;
		height: auto;
		}
	.menu li ul li{
			width: auto;
			}	
			
	.menu li ul{
		list-style-type: none;
		height: 0;
		transition:  height 2s;
		overflow: hidden;
		display: block;
		width:100% ;
		border-radius: 0 0 0 0 ;
		position: static;
	}
	.menu li:hover ul{
		height: 140px;
	}
	.menu>li:nth-child(5)>a{
		padding-bottom: 28px;
	}
	.menu{
		height: 0;
		overflow: hidden;
		transition: height 1s cubic-bezier(0.23, 1, 0.320, 1) ;
		
	}
	
	.menu ul {
		text-align: center;
	}
}
/* ///////////////for Reduce Motion API's//////////////// */
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}