S*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* for rem definition  */
html{
    font-size: 62.5%;
}
/* for dynamic color scheme  */
:root{     
    --color1:#2c3531;
    --color2:#116466;
    --color3:#d9b08c;
    --color4:#ffcb9a;
    --color5:#d1e8e2;  
}

/* for float */
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
}
 /* all classes called col- will be float */
div[class*="col-" ]{
    float: left;
}
/* for Grid */
.container{
    display: grid;
    grid-template-columns: 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% auto ;       
    grid-template-rows: auto;
    grid-gap: 10px;
    height: 100px
}
/* /////////////////////////////////////////////////////////////////////////////////////////////// */










@media(max-width:786px){

}
/* 600px is for extra small devices --- like smart watches*/
/* 600-768px is for small devices --- like smart phones*/
/* 768-992px is for medium devices --- like tablests, fablests */
/* 992-1200px is for large devices --- like laptops, desktop */
/* more than 1200px is for extra large devices --- like big laptops, large screens */
