* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* ////////////////////////////////navbar////////////////////////////// */
html {
  scroll-behavior: smooth; /* importantt for smooth scroll */
  /* color: -internal-root-color; */
}

ul {
  list-style: none;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Default Styles 
--------------------------------------------------------------------*/

.clearfix {
  clear: both;
}

nav {
  font-family: "Droid Sans", sans-serif;
  /* background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(204, 204, 204, 0.8))); */
  background: -webkit-gradient(
    linear,
    center top,
    center bottom,
    from(rgba(77, 77, 77, 0.9)),
    to(rgba(39, 39, 39, 0.9))
  );
  /* background-image: linear-gradientrgba( rgba(255, 255, 255, 0.8), (rgba(204, 204, 204, 0.8))); */
  /* border-radius: 6px; */
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4);
  padding: 0 10px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  /*  left: 20px; */
  z-index: 100;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 5px 5px 5px 5px;
  height: 60px;
  display: block;
}
.menu {
  /*  position: absolute; */
  display: block;
  width: 100%;
  padding-right: 20px;
}
.menu > li {
  width: auto;
  text-align: center;
  width: auto;
  float: left;
  position: relative;
  display: list-item;
  border-radius: 10px 10px 35px 5px;
}

.menu > li::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
  height: 40px;
  border-radius: 35%;
  width: 4px;
  z-index: 101;
  display: block;
  top: 6px;
  right: -2px;
  position: absolute;
}
.menu > li:nth-child(6)::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
  height: 40px;
  border-radius: 35%;
  width: 4px;
  z-index: 101;
  display: block;
  top: 6px;
  left: 0;
  position: absolute;
}

.menu > li:nth-child(6) {
  float: right;
  display: inline;
}

.menu > li > a > p:first-child {
  display: inline-block;
}
/* .menu>li:nth-child(6)>a>span{
	display: block; 
    position: relative;
    margin-left: 0px;
	top:46px;	
	font-size: 32px;
	width: auto;
	height: 14px;
	border-radius: 0 0 25% 25%;
	background-image:  radial-gradient(circle,rgba(255, 255, 255, 0.8), rgba(204, 204, 204, 0.8));;
	transition: transform 0.25s;
	z-index: 102;
    box-shadow: 0px 6px 4px 2px rgba(0,0,0,0.4);
   
} */

/* .menu>li:nth-child(3)>a>span{
    display: block; 
    position: relative;
    margin-left: 0px;
    left: 0;
	top:46px;	
	font-size: 32px;
	width: auto;
	height: 14px;
	border-radius: 0 0 25% 25%;
	background-image:  radial-gradient(circle,rgba(255, 255, 255, 0.8), rgba(204, 204, 204, 0.8));;
	transition: transform 0.25s;
	z-index: 102;
    box-shadow: 0px 6px 4px 2px rgba(0,0,0,0.4);
   
} */
.menu > li > a {
  color: white;
  display: inline-block;
  font-size: 20px;
  /* width: 10vw; */
  min-width: 9vw;

  padding-top: 16px;
  padding-bottom: 16px;
  /* vertical-align: middle; */
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  border-radius: 0px 0px 25px 25px;
}
/* //////////////////  anchor hover animation /////////////////// */
.menu li a {
  border-radius: 0px 0px 25px 25px;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  transition-property: color;
  transition-duration: 0.3s;
}
.menu li a:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(
    linear,
    center top,
    center bottom,
    from(rgba(251, 213, 142, 0.8)),
    to(rgba(255, 166, 0, 0.9))
  ); /* rgba(255, 166, 0, 0.568); */
  border-radius: 100%;
  transform: scale(0);
  transition-property: transform;
  transition-duration: 0.6s;
  transition-timing-function: ease-out;
}
.menu li a:hover:before {
  transform: scale(2);
}
.menu > li > ul > li > label {
  border-radius: 0px 0px 25px 25px;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  transition-property: color;
  transition-duration: 0.3s;
}
.menu > li > ul > li > label:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(
    linear,
    center top,
    center bottom,
    from(rgba(251, 213, 142, 0.8)),
    to(rgba(255, 166, 0, 0.9))
  ); /* rgba(255, 166, 0, 0.568); */
  border-radius: 100%;
  transform: scale(0);
  transition-property: transform;
  transition-duration: 0.6s;
  transition-timing-function: ease-out;
}
.menu > li > ul > li > label:hover:before {
  transform: scale(2);
}

/* ///////////////////////////////////////////////////////////////////////////// */
.menu > li:nth-child(3) {
  width: auto;
}
/* .menu>li:nth-child(6){
    width: auto;
} */
.menu > li > ul > li > a {
  color: white;
  display: inline-block;
  width: auto;
  font-size: 18px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 16px;
  padding-bottom: 16px;
  /* vertical-align: middle; */
  text-decoration: none;
  /* position: relative; */
  text-transform: none;
  text-align: center;
}
.menu > li > ul > li > label {
  color: white;
  display: block;
  font-size: 18px;
  width: 12vw;
  /* width: 10vw; */
  padding-top: 16px;
  padding-bottom: 16px;
  /* vertical-align: middle; */
  text-decoration: none;
  position: relative;
  text-transform: none;
  text-align: center;
}
.menu > li > ul {
  position: absolute; /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
  overflow: hidden;

  /* top: 56px; */
  box-shadow: 0px 6px 4px 2px rgba(0, 0, 0, 0.4);
}
.menu > li > ul > li {
  position: relative;
  float: none;
  display: list-item;
}

/* .menu li a:hover {
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.178);
    background-color: rgba(255, 166, 0, 0.568);
    text-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);
  }
  .menu>li>ul>li>label:hover {
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.178);
    background-color: rgba(255, 166, 0, 0.568);
    text-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);
  } */
/* Dropdown styles */

.menu ul {
  position: relative;
  /* left: -9999px; */
  list-style: none;
  opacity: 0;
  height: 0;
  overflow: hidden;
  display: block;
}

/* .menu ul li {
	float: none;
	
} */

/* .menu ul a {
	white-space: nowrap;
	


}
 */
/*//////////////////////////// Displays the dropdown on hover and moves back into position////////////////////////// */
.menu li:hover ul {
  /* background:-webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(204, 204, 204, 0.7)));      */
  background: -webkit-gradient(
    linear,
    center top,
    center bottom,
    from(rgba(77, 77, 77, 0.9)),
    to(rgba(39, 39, 39, 0.9))
  );
  border-radius: 0 0 10px 10px;
  opacity: 1;
  height: auto;
  transition: height 0.5s, opacity 0.5s ease;
}
.menu > li:nth-child(6):hover > a > span {
  opacity: 0;
}
.menu > li:nth-child(3):hover > a > span {
  opacity: 0;
}
.menu > li:nth-child(6) > a > span {
  transition: opacity 1s;
}
.menu > li:nth-child(3) > a > span {
  transition: opacity 1s;
}
/*////////////////////////////////////////// Persistant Hover State //////////////////////////////////////////*/

.menu li:hover > a {
  color: black;
}
/* .menu li:hover{
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.178);
    background-color: rgba(255, 166, 0, 0.568);
} */

.menu li:hover ul a {
  /* background: none; */
  border-radius: 0;
}

.menu li:hover ul li a:hover {
  text-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
}
/*/////////////// togglebox ///////////////*/
#togglecheckbox {
  display: none;
}

.togglelabel {
  top: 20px;
  width: 50px;
  height: 50px;
  position: relative;
  display: none;
  margin: 10px;
}

.togglelabel > label {
  transition: transform 0.25s;
  color: rgba(0, 0, 0, 0.8);
}

#togglecheckbox:checked ~ .menu {
  height: auto;
}
#navContainer {
  background-color: #444;
}
/*//////////////////////////// media querry///////////////////////////////// */
@media (max-width: 821px) {
  .togglelabel {
    display: block;
  }
  #togglecheckbox:checked ~ .menu {
    height: auto;
  }
  #togglecheckbox:checked ~ .menu li::before {
    content: "";
    width: auto;
    height: 1px;
    display: block;
    position: relative;
    background-color: black;
    z-index: 101;
  }
  #togglecheckbox:checked + div > label {
    color: rgba(255, 255, 255, 0.9);
    transform: rotateZ(90deg);
    background-color: rgba(0, 0, 0, 0.3);
  }
  nav {
    margin: 0;
    width: auto;
  }

  /* .menu>li:nth-child(6):hover>a>span{
		transform: translateY(60px)
	}
	.menu>li:nth-child(3):hover>a>span{
	transform: translateY(114px)
	} */
  .menu > li > a {
    width: 100vw;
    text-align: center;
  }

  .menu > li::after {
    content: "";
    display: none;
  }
  .menu > li > ul > li {
    display: list-item;
    float: none;
  }
  .menu li {
    width: 100%;
    height: auto;
  }
  .menu li ul li {
    text-align: center;
    width: auto;
  }
  .menu > li > ul > li > a {
    width: 100vw;
  }
  .menu > li > ul > li > label {
    width: 100vw;
  }
  .menu > li > ul {
    position: relative;
    list-style-type: none;
    transition: height 2s;
    /* overflow: hidden;
		display: block; */
    width: 100%;
    border-radius: 0 0 0 0;
  }
  .menu > li:nth-child(6) {
    float: left;
  }
  .menu > li:nth-child(6) > a {
    /* padding-bottom: 28px; */
  }
  .menu > li:nth-child(6):hover > a {
    height: 100px;
  }
  .menu > li:nth-child(3) > span {
    display: inline;
    position: absolute;
    top: 10px;
    left: 40vw;
  }
  .menu > li:nth-child(6) > span {
    display: inline;
    position: absolute;
    top: 10px;
    left: 35vw;
  }
  .menu li a:before {
    transition-duration: 0.2s;
  }
  .menu > li > ul > li > label:before {
    transition-duration: 0.2s;
  }
  .menu {
    height: 0;
    overflow: hidden;
    transition: height 1s cubic-bezier(0.23, 1, 0.32, 1);
    background: -webkit-gradient(
      linear,
      center top,
      center bottom,
      from(rgba(77, 77, 77, 0.8)),
      to(rgba(39, 39, 39, 0.8))
    );
  }

  .menu ul {
    text-align: center;
  }
}
/* ///////////////for Reduce Motion API's//////////////// */
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/*///////////////////slideshow ///////////////////*/

.tm-gallery-item figure {
  position: relative;
  float: left;
  overflow: hidden;

  text-align: center;
  cursor: pointer;
}

.tm-gallery-item figure img {
  position: relative;
  display: block;
  height: 400px;
  max-width: 300px;
  opacity: 0.8;
}

.tm-gallery-item figure figcaption {
  padding: 10px;
  color: rgb(255, 255, 255);
  font-size: 1.25em;
  backface-visibility: hidden;
}

.tm-gallery-item figure figcaption::before,
.tm-gallery-item figure figcaption::after {
  pointer-events: none;
}

.tm-gallery-item figure figcaption,
.tm-gallery-item figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.tm-gallery-item figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;

  opacity: 0;
}

.tm-gallery-item figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

.tm-gallery-item figure h2 span {
  font-weight: 800;
}

.tm-gallery-item figure h2,
.tm-gallery-item figure p {
  margin: 0;
}

.tm-gallery-item figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
  line-height: 20px;
}

/*---------------*/
/***** Bubba *****/
/*---------------*/

figure.effect-bubba {
  background: rgb(0, 0, 0);
}

.effect-bubba img {
  opacity: 1;
  transition: filter 2s;
}

figure.effect-bubba:hover img {
  opacity: 0.8;
  filter: blur(5px);
}

.effect-bubba figcaption::before,
.effect-bubba figcaption::after {
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;

  border-radius: 20px;
  content: "";
  opacity: 0;
  transition: opacity 2s, transform 2s;
}

figure.effect-bubba figcaption::before {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: scale(0, 1);
}

figure.effect-bubba figcaption::after {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;

  transform: scale(1, 0);
}

figure.effect-bubba h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  opacity: 0;
  transition: transform 1s;
  transform: translate3d(0, -30px, 0);
}

figure.effect-bubba p {
  width: 100%;
  padding: 20px;
  opacity: 0;
  transition: opacity 3s, transform 3s;
  transform: translate3d(0, 340px, 0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
  opacity: 1;
  transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.O-sliderElements,
.O-sliderElements figure,
.sliderControls {
  margin-left: 10px;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 70px;
}

.O-sliderElements:after {
  content: ".";
  display: block;

  height: 0;
  /*clear: both;*/
  visibility: hidden;
  font-size: 0;
  overflow: hidden;
}

.O-Slider {
  background: linear-gradient(rgb(48, 39, 39), rgb(65, 55, 55));
  overflow-x: hidden;
  height: auto;
  /* margin-left: 150px; */
  /* background-color: #333; */
}

.O-sliderElements {
  list-style: none;
  position: relative;
  left: 0;

  width: 500%;
  padding: 0;
  transition: left 1.5s ease-in-out;
  margin-left: 60px;
  margin-top: 60px;
}

.O-sliderElements > li {
  float: left;

  width: 20%;
  position: relative;
}

#slide02:checked ~ .O-sliderElements {
  left: -100%;
}

#slide03:checked ~ .O-sliderElements {
  left: -200%;
}

#slide04:checked ~ .O-sliderElements {
  left: -300%;
}

#slide05:checked ~ .O-sliderElements {
  left: -400%;
}

/* Bildunterschrift auf dem Bild positionieren */
/* .sliderElements figcaption {
    display: block;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 1em;
    padding: .4em;
  background: rgba(0,0,0,.5);
}

 */

/* Bilder responsive */

.O-sliderElements img {
  width: 100%;
  height: auto;
}

.O-Slider input {
  position: absolute;
  left: -99999px;
}

.sliderControls {
  text-align: center;
}

/* Controls nebeneinander bringen */
.sliderControls li {
  display: inline-block;
}

/* Controls auf einheitliche Maße bringen und die Ecken abrunden */

.sliderControls label {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  display: block;
  cursor: pointer;

  background: black;
  color: black;
}

.sliderControls label:hover,
#slide01:checked ~ .sliderControls label[for="slide01"],
#slide02:checked ~ .sliderControls label[for="slide02"],
#slide03:checked ~ .sliderControls label[for="slide03"],
#slide04:checked ~ .sliderControls label[for="slide04"],
#slide05:checked ~ .sliderControls label[for="slide05"] {
  background: rgb(255, 94, 0);
  color: rgb(255, 94, 0);
}

#slide04:checked ~ .sliderControls label[for="slide04"] {
  background: rgb(255, 94, 0);
  color: rgb(255, 94, 0);
}

/*///////////////////////////////////////////////////////////////////////////////////
////////////////////////         Footer  Area        ////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////*/

.footer {
  position: relative;
  overflow: hidden;
  height: 200px;
  box-sizing: border-box;
  background-color: #444;
  margin: auto;
}

.inner_footer {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.logo {
  width: 25%;
  height: 100%;
  margin: 0px 5px;
  transform: translateY(40%);
}

@keyframes bounceIn {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.01);
  }

  70% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

/* hello world animation*/

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 160px;
  overflow: hidden;
  font-family: "Lato", sans-serif;
  font-size: 30px;
  line-height: 40px;
  color: #ecf0f1;
}
.content__container {
  font-weight: 600;
  overflow: hidden;
  height: 40px;
  padding: 0 40px;
}
.content__container:before {
  content: "[";
  left: 0;
}
.content__container:after {
  content: "]";
  position: absolute;
  right: 0;
}
.content__container:after,
.content__container:before {
  position: absolute;
  top: 0;
  color: #16a085;
  font-size: 42px;
  line-height: 40px;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.content__container__text {
  display: inline;
  float: left;
  margin: 0;
}
.content__container__list {
  margin-top: 0;
  padding-left: 110px;
  text-align: left;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.content__container__list__item {
  line-height: 40px;
  margin: 0;
}

@-webkit-keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes change {
  0%,
  12.66%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  16.66%,
  29.32% {
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }
  33.32%,
  45.98% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
  49.98%,
  62.64% {
    -webkit-transform: translate3d(0, -75%, 0);
    transform: translate3d(0, -75%, 0);
  }
  66.64%,
  79.3% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
  83.3%,
  95.96% {
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }
}
@keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes change {
  0%,
  12.66%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  16.66%,
  29.32% {
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }
  33.32%,
  45.98% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
  49.98%,
  62.64% {
    -webkit-transform: translate3d(0, -75%, 0);
    transform: translate3d(0, -75%, 0);
  }
  66.64%,
  79.3% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
  83.3%,
  95.96% {
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }
}

/* end hello world animation */
.logo img {
  width: 300px;
  animation: bounceIn 0.6s;
  transform: rotate(0deg) scale(1) translateZ(0);
  transition: all 0.4s cubic-bezier(0.8, 1.8, 0.75, 0.75);
  cursor: pointer;
}
.logo img:hover {
  transform: rotate(10deg) scale(1.1);
}

.inner_footer_blog {
  width: 75%;
  margin: 0px 5px;
  display: flex;
  flex-direction: row;
}

.third-blog {
  width: 33.3%;
  position: relative;

  transition: 0.5s ease-in-out;
}

.third-blog:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.third-title {
  height: 50px;
  padding: 10px 12px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 70px;
}
.third-title:hover {
  color: #fff;
}

.third-blog a {
  display: block;
  color: #fff;
  height: 30px;
  text-decoration: none;
  text-align: center;
}
.third-blog a:hover {
  color: aqua;
}

.social {
  text-align: center;
  margin: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social li {
  padding: 0px 20px;
  list-style: none;
}

.social i {
  font-size: 48px;
  transition: 0.5 ease-in-out;
}

.social i:hover {
  font-size: 50px;
  transform: rotate(360deg);
}

.to-top-container {
  position: absolute;
  z-index: 2;
  bottom: 120px;
  right: 20px;
}

.to-top img {
  width: 32px;
}

@media only screen and (max-width: 999px) {
  .inner_footer {
    width: 100%;
    flex-direction: column;
  }

  .inner_footer_blog {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 25px;
  }
  .logo {
    width: 100%;
  }
  .third-blog {
    width: 33.3%;
  }
  .footer {
    height: auto;
  }
}
@media only screen and (max-width: 600px) {
  .inner_footer {
    width: 100%;
    flex-direction: column;
  }

  .inner_footer_blog {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
  }
  .logo {
    width: 100%;
  }
  .third-blog {
    width: 100%;
  }
  .footer {
    height: auto;
  }
}

/* ////////////////////////////background//////////////////////// */
#header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.9)),
    url("../img/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 15vh;
  scroll-behavior: smooth;
}
#animation {
  margin-top: 50vh;
  height: 81vh;
  background-color: rgb(124, 124, 124);
}
#about {
  color: white;
  height: 50vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)),
    url("../img/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  scroll-behavior: smooth;
}
#team {
  color: white;
  height: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)),
    url("../img/bg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  scroll-behavior: smooth;
}
#contact {
  height: 50vh;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)),
    url("../img/bg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  scroll-behavior: smooth;
}
#goals {
  height: 50vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)),
    url("../img/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  scroll-behavior: smooth;
}
/*  /////////////////////////Style of Content Areas//////////////////////  */

.gridContainer div > span {
  font-size: 34px;
  text-align: center;
}

/* .gridContainer div span::before{
    content: "";
    width: 40vw;
    height: 4px;
    border-radius: 25%;
    background-color: #444;
    display: block;
    top: 16px;
    right: 58vw;
    position: absolute;
}
.gridContainer div span::after{
    content: "";
    width: 40vw;
    height: 4px;
    border-radius: 25%;
    background-color: #444;
    display: block;
    top: 16px;
    left: 58vw;
    position: absolute;
}
 */
